:root {
	--neutral-light: #ffffff;
	--neutral-grey: #e9e9e9;
	--neutral-dark: #1B1C1F;
	--darkblue: #14285A;

	--container-size: 75rem;
}

@import './tailwind.css';


h1, h2, h3, h4, h5, h6 {
	z-index: 10;
}

.circled {
	position: relative;
	display: inline-block;
	z-index: 1;
	&:after {
		content: url("data:image/svg+xml; utf8, %3Csvg viewBox='0 0 358 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M294.088 18.1791C293.739 15.3896 244.894 16.1373 241.553 16.1373C204.244 16.1373 165.211 14.6105 128.427 22.2626C113.69 25.3284 98.6779 28.9026 84.743 34.7402C79.7671 36.8248 71.9088 39.9317 70.6733 45.9701C69.6975 50.739 70.8445 54.4877 75.2119 56.973C90.369 65.5983 108.969 69.048 126.045 70.7551C158.746 74.0242 191.46 76.2288 224.249 78.3551C251.049 80.0929 277.863 79.2184 304.129 73.2506C319.842 69.6806 334.976 63.7643 329.205 45.176C325.458 33.1057 306.479 26.3554 296.13 22.3761C272.871 13.433 249.461 8.24871 224.59 6.49552C193.936 4.33464 162.632 3.43566 132.115 7.51641C100.383 11.7595 65.2944 11.5584 35.1584 23.2835C26.1245 26.7984 9.05227 34.3847 5.54384 44.7223C0.927009 58.3258 26.9914 66.729 35.1584 69.4506C69.6869 80.9567 106.269 84.9089 142.384 87.5998C187.445 90.9574 232.527 91.5079 277.295 84.5371C301.589 80.7542 327.584 77.155 348.551 63.3252C355.555 58.7055 353.398 53.0652 348.211 47.785C336.192 35.5508 317.265 29.9254 301.576 24.5313C259.517 10.0707 213.159 4 168.765 4C141.545 4 111.454 6.35777 85.821 16.194C75.5759 20.1253 64.7862 28.7569 62.8441 40.1283C61.005 50.8971 68.7413 58.5412 77.8784 62.9849C101.562 74.5033 131.029 76.4561 156.737 78.8655C201.555 83.0659 247.435 82.5486 292.102 76.8237C304.482 75.237 317.401 73.7016 329.149 69.2237C332.771 67.8431 337.659 65.9862 339.871 62.5312C345.177 54.2429 334.583 46.7199 328.808 43.1342C309.615 31.218 286.471 27.4461 264.473 24.3044' stroke='%2300FFD1' stroke-width='8' stroke-linecap='round'/%3E%3C/svg%3E%0A");
		display: block;
		height: auto;
		width: 110%;
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);	
		z-index: -1;
	}
}

.underlined {
	position: relative;
	display: inline-block;
	z-index: 1;
	&:after {
		content: "";
		display: block;
		height: 25%;
		width: 105%;
		position: absolute;
		bottom: 18%;
		left: 50%;
		transform: translate3d(-50%, 0%, 0);
		background-color: #00FFD1;
		z-index: -1;
		
	}
}

.swiper {
	&-controls {

	}

	&-pagination {
		position: relative !important;
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		display: flex;
		justify-content: center;
		gap: 6px;

		&-bullet {
			background: var(--neutral-dark);
			height: 3px;
			width: 8px;
			opacity: .3;
			transition: width .3s, opacity .3s;
			border-radius: 8px !important;
			margin: 0px !important;

			&-active {
				width: 16px;
				opacity: 1;
				transition: width .3s, opacity .3s;
			}
		}

	}
}

.post {
	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
		color: var(--darkblue)
	}

	h1 {
		font-size: clamp(2.4rem, 3vw, 3rem);
		max-width: 1024px;
		line-height: 1.2;
		margin-bottom: 16px;
		margin-top: 24px;
		position: relative;
		display: inline-block;
	}

	h2 {
		font-size: clamp(2rem, 2.4vw, 3rem);
		max-width: 768px;
		line-height: 1;
		margin-bottom: 16px;
		margin-top: 24px;
		position: relative;
		&:after {
			content: url("data:image/svg+xml; utf8, %3Csvg viewBox='0 0 289 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.0784 12.5276C77.9791 12.5276 133.202 14.4839 187.958 10.4346C220.124 8.0558 252.221 8.34159 284.453 8.34159C288.265 8.34159 291.783 8.34159 285.752 8.34159C271.933 8.34159 258.115 8.34159 244.296 8.34159C186.555 8.34159 128.823 10.4346 71.0305 10.4346C30.2238 10.4346 152.351 2.50409 193.155 2.06264C206.183 1.9217 219.22 2.06264 232.249 2.06264C246.304 2.06264 204.139 1.96451 190.084 2.06264C131.234 2.47354 72.2662 8.34159 13.5116 8.34159C-43.6706 8.34159 127.823 4.15562 185.005 4.15562C202.397 4.15562 218.507 2.06264 235.674 2.06264' stroke='%2300FFD1' stroke-width='5' stroke-linecap='round'/%3E%3C/svg%3E");
			display: block;
			height: auto;
			width: 75%;
			position: absolute;
			bottom: 0%;
			left: 0%;
			transform: translate3d(0%, 0%, 0);
			z-index: -1;
			
		}
	}

	p{
		max-width: 1024px;
		margin-bottom: 6px;
	}
}