:root {
	--background-color: #F7F8E6;
	--dark-color: #1B1C1F;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Jost";
		font-weight: 400;
		src: url(/fonts/Jost-Regular.woff) format("woff"),
			url(/fonts/Jost-Regular.ttf) format("ttf");
	}

	@font-face {
		font-family: "Jost";
		font-weight: 500;
		src: url(/fonts/Jost-Medium.woff) format("woff"),
			url(/fonts/Jost-Medium.ttf) format("ttf");
	}

	@font-face {
		font-family: "Baloo";
		font-weight: 700;
		src: url(/fonts/Baloo2-Bold.woff) format("woff"),
			url(/fonts/Baloo2-Bold.ttf) format("ttf");
	}

	body {
		font-size: 18px;
		color: var(--dark-color);
		font-family: "Jost", sans-serif;
		font-weight: 400;
		background-color: var(--background-color)
	}
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	.text-small {
		font-size: clamp(1rem, 0.8vw, 1.1rem);
	}

	.text-medium {
		font-size: clamp(1.2rem, 1.6vw, 1.4rem);
	}

	.text-big {
		font-size: clamp(1.6rem, 1.8vw, 2.4rem);
	}

	.text-bigger {
		font-size: clamp(2rem, 2.4vw, 2.8rem);
	}

	.text-biggest {
		font-size: clamp(2.4rem, 3.2vw, 4rem);
	}

	.image-big {
		width: clamp(400px, 20vw, 600px);
		height: auto
	}
}
