---
import { Accomodations } from '../components/Accomodations';
import Banner from '../components/Banner.astro';
import BookingForm from '../components/BookingForm.astro';
import DestinationSlider from '../components/DestinationSlider.astro';
import Map from '../components/Map.astro';
import Reviews from '../components/Reviews.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title="Startseite" description="Startseite">
	<main>
		<div class="container">
			<div class=" grid grid-cols-1 md:grid-cols-2 gap-16 items-center">
				<div class="col-span-1 order-2 md:order-1">
					<h1 class="font-baloo text-biggest leading-snug">
						<span class="underlined">Rügen</span> ruft!  Erkunde das Juwel der Ostsee und erlebe unvergessliche Ferientage.
					</h1>
					<p class="my-6">Entdecke die Schönheit Rügens, dein Urlaubsparadies im Meer.</p>
					<a href="/" class="cta petrol">plane deinen Rügentrip</a>
				</div>
				<div class="col-span-1 order-1 md:order-2">
					<Image src="/images/hero.png" alt="Erkunde das Juwel der Ostsee und erlebe unvergessliche Ferientage." width="600" height="600"/>
				</div>
			</div>
			<div class="-mt-8 mb-auto relative hidden lg:block">
				<BookingForm />
			</div>
		</div>

		<div class="container my-16">
			<h2 class="text-center font-baloo text-biggest leading-snug md:max-w-[60%] mx-auto">
				Entdecke deine <span class="underlined underline-red">Traumwelt</span> auf Rügen - Dein Urlaub, dein Paradies!
			</h2>

			<DestinationSlider/>
		</div>
		<Banner />
		<div class="container my-16">
			<h2 class="text-center font-baloo text-biggest leading-snug md:max-w-[60%] mx-auto">
				Entdecke deine <span class="underlined underline-lila">Traumwelt</span> auf Rügen - Dein Urlaub, dein Paradies!
			</h2>

			<Accomodations client:load view="slider" columns={4} />
		</div>
		<Map />
		<Reviews />
	</main>
</Layout>