---
import { Accomodations } from "../components/Accomodations";
import Banner from "../components/Banner.astro";
import BookingForm from "../components/BookingForm.astro";
import Map from "../components/Map.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";



---

<Layout>
    <div class="container my-16">
        <h1 class="text-darkblue text-bigger font-medium leading-tight text-center my-8">
            Entdecke <span class="underlined">Rügens</span> Charme, finde deine Traumunterkunft am Strand!
        </h1>
        <BookingForm />
    </div>
    <div class="container">
        <Accomodations view="grid" client:load />
    </div>
    <Map />
    <Banner />
</Layout