---

import Layout from '../layouts/Layout.astro';
import BannerGrid from '../components/BannerGrid.astro';

import ProductSlider from '../components/Products/ProductSlider.jsx';
import {categories} from '../utils/categories.js';

import eBayApi from 'ebay-api';

const eBay = new eBayApi({
	appId: "UweHorn-TikiShop-PRD-01c6fefd9-8c8c4fb7",
	certId: "PRD-1c6fefd90bec-3b08-44b7-a3dd-f70e",
	sandbox: false,
	siteId: eBayApi.SiteId.EBAY_DE, // required for traditional APIs, see https://developer.ebay.com/DevZone/merchandising/docs/Concepts/SiteIDToGlobalID.html
	marketplaceId: eBayApi.MarketplaceId.EBAY_DE, // defautl. required for RESTful APIs
	acceptLanguage: eBayApi.Locale.de_DE, // defautl
	contentLanguage: eBayApi.ContentLanguage.de_DE,
});

const ebayItems = await eBay.buy.browse.search({
	category_ids: "9355",
	q: "iphone",
	limit: 25,
	filter: `conditions:{NEW}`,
	offset: 0,
});

const cat = categories.sort((a, b) => 0.5 - Math.random()).slice(-6)

---

<Layout title="Startseite" description="Startseite">
	<main class="container mx-auto px-4 md:px-6">
		<BannerGrid  direction="right" items={cat.slice(0, 3)}/>
		<ProductSlider client:load/>
		<BannerGrid direction="left" items={cat.slice(-3)} />
	</main>
</Layout>