---
import { Image } from "astro:assets";
import { getCollection } from "astro:content"
const types = await getCollection("types")
---

<div class="relative my-16">
    <div class="container">
        <div class="rounded-xl relative grid grid-cols-2 items-center">
            <div class="col-span-1">
                <Image width="520" height="520" src="/images/erkunden-banner.png" alt="Rügen erkunden">
            </div>
            <div class="col-span-1">
                <h2 class="text-big font-semibold leading-snug mb-6 max-w-[560px] text-darkblue">
                    Rügens Schätze entdecken, in <span class="underlined">Traumunterkünften</span> entspannen
                </h2>
                <p class=" max-w-[640px]  ">Erlebe unvergessliche Momente an den schönsten Orten auf Rügen – finde hier die ideale Unterkunft für dein Traumurlaubserlebnis!</p>
                <ul class="flex items-center gap-4 my-8">
                    {types.map(type => <li><a class="bg-white rounded-full py-2 px-6 font-medium inline-block" href={`/${type.slug}`}>{type.data.title}</a></li>)}
                </ul>
            </div>
        </div>
    </div>
</div>