---
---
<form action="https://buchen.meertrip.de/" target="_blank" method="GET">
    <input type="text" class="hidden" >
    <div class="container mx-auto max-w-[1024px] bg-white rounded-full lg:flex items-center justify-between p-2 pl-6 gap-6 shadow-lg">
        <div class="flex items-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
            </svg>
              
            <div class="flex flex-col">
                <label for="region" class="text-base block">Ort</label>
                <select name="region" id="region" class="bg-transparent text-slate-400 text-base max-w-[140px]">
                    <option value="" selected disabled>Urlaubsort</option>
                    <option value="we35bb49064f089" >Insel Rügen und Hiddensee</option>
                    <option value="1" >Binz</option>
                    <option value="899119259-4106" >Prora</option>
                    <option value="864930791-12589">Sellin</option>
                    <option value="we5193317cb0493d81ee">Seedorf</option>
                    <option value="858279224-26455">Baabe</option>
                    <option value="6">Göhren</option>
                    <option value="897044534-25159">Lobbe</option>
                    <option value="866313754-721">Gager</option>
                    <option value="104">Thiessow</option>
                    <option value="862660925-2255">Klein Zicker</option>
                </select>
            </div>
        </div>
    
        <div class="flex items-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd" />
            </svg>
              
              
            <div class="flex flex-col">
                <label for="from" class="text-base block">Anreise</label>
                <input type="text" name="from" id="from" class="bg-transparent text-slate-400 text-base max-w-[140px]" placeholder="Datum auswählen">
            </div>
        </div>
    
        <div class="flex items-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd" />
            </svg>
              
              
            <div class="flex flex-col">
                <label for="to" class="text-base block">Abreise</label>
                <input type="text" name="to" id="to" class="bg-transparent text-slate-400 text-base max-w-[140px]" placeholder="Datum auswählen">
            </div>
        </div>
    
        <div class="flex items-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path d="M4.5 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM14.25 8.625a3.375 3.375 0 116.75 0 3.375 3.375 0 01-6.75 0zM1.5 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM17.25 19.128l-.001.144a2.25 2.25 0 01-.233.96 10.088 10.088 0 005.06-1.01.75.75 0 00.42-.643 4.875 4.875 0 00-6.957-4.611 8.586 8.586 0 011.71 5.157v.003z" />
            </svg>
              
            <div class="flex flex-col">
                <label for="adults" class="text-base block">Gäste</label>
                <input type="number" min="1" name="adults" id="adults" class="bg-transparent text-slate-400 text-base max-w-[140px]" placeholder="Anzahl der Gäste">
            </div>
        </div>
    
        <button class="bg-dark text-white block h-full rounded-full py-6 w-full min-w-[160px] max-w-[160px]">
            Anfrage stellen
        </button>
    </div>
</form>
