---
import BookingForm from '../components/BookingForm.astro';

import { Image } from 'astro:assets';
---

<div class="w-full relative px-4 lg:mb-32">
    <img src="/images/bg.png" alt="background"  class="absolute w-full h-auto bg-cover bg-center bg-no-repeat top-1/2 left-0">
    <div class="relative container bg-cover bg-center bg-no-repeat aspect-square md:aspect-hero rounded-xl flex flex-col justify-center" style="background-image: url('/images/hero.png')">
        <div class="absolute top-0 left-0 w-full h-full bg-black/30 rounded-xl"></div>
        <div class="relative">
            <h1 class="text-white text-biggest font-semibold leading-none text-center">
                Du <span class="underlined">verdienst</span> eine <br/>Auszeit auf Rügen.
            </h1>
            
        </div>
        <div class="absolute left-0 bottom-0 translate-y-1/2 w-full hidden lg:block">
            <BookingForm />
        </div>
    </div>
    
</div>