<div class="container flex flex-col items-center justify-center">
    <div class="h-6 w-6 rounded-full border-4 border-t-darkblue/50 border-r-darkblue/50 border-b-darkblue/50 border-l-darkblue/0 animate-spin"></div>
    <span class="text-darkblue/50 text-sm mt-4">... loading</span>
</div>