---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

import '../styles/globals.scss'
const { title, description } = Astro.props;
const {slug} = Astro.params
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css">
	</head>
	<body class="bg-slate-50">
		<Header/>
		<div class="pb-6">
			<slot />
		</div>
		<Footer />
	</body>
</html>